#demo1{
    display: inline-block;
    width:auto;
    height: auto;
    padding: 20px 40px;
    border: 5px solid rgb(45, 234, 12);
    background-color: aqua;
    align-self:center;
    transition: 0.5s 0.1s;  
}

#demo1:hover{
    background-color: chocolate;
    border-radius: 20px;
    color: rgb(0, 4, 4);
    border-color: bisque;
    box-shadow: 2px 2px 16px rgb(232, 220, 3);
    transform: scale(1.05) translateX(5px);
    background-image: url("./src/assets/react.svg");
}