 .demo{
    background-color: blueviolet;
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    /* flex: 1.5 1.5 100px;
    min-width: 50px;
    /* display:grid;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1%;
    column-gap: 1vh; */
}