 .demo{
    background-color: blueviolet;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* this is for parent container element */
    /* display:grid;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1%;
    column-gap: 1vh; */
}